header

ul



#A {
  background-color: tan;
} 

#B {
  background-color: teal;
}

#C  {
  background-color: seagreen;
}

#D {
  background-color: burlywood;
}

#E {
  background-color: rosybrown;
}

#F {
  background-color: palegoldenrod;
}